<div class="container_contato">
  <form action="/contato/contato/add" method="POST">

    <legend>Está com problemas ou quer enviar um opnião?</legend>
    <br>

    <label for="nome">Digite seu nome:</label><br>
    <input type="text" name="nome" placeholder="Nome:" required>
    <br><br>
    <label for="email">Digite um email:</label><br>
    <input type="email" name="email" placeholder="Email" required>
    <br><br>
    <label for="mensagem">Digite sua mensagem ou opnião</label><br>
    <textarea name="mensagem" rows="6" required></textarea>

    <div class="btn_contato_div">
      <button class="btn btn_login btn_contato" type="submit">Enviar mensagem!</button>
    </div>

  </form>
</div>