<div class="bannerpag text-center text-light"></div>
<div class="container contato">
  <div class="formcont">
    <h2>
      <strong>
        Esta com problemas ou quer enviar
                uma opnião.
      </strong>
    </h2>
    <form action="/contato/contato/add" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" id placeholder="Nome:" name="nome"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email:" name="email"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreva aqui sua mensagem:" name="mensagem"></textarea>
      </div>
      <button style="border-radius: 22px;" type="submit" class="btn btncont borda">
        Enviar
      </button>
    </form>
  </div>
</div>
<div class="container cont">
  <h2 class="text-center">
    <strong>
      Siga nossas
            redes sociais!
    </strong>
  </h2>
  <div class="social">
    <div class="textsoc">
      <a href="#">
        <img src="./img/icones/facebook.svg" alt="logo facebook"/>
      </a>
      <p>
        AnotherAnimes
      </p>
    </div>
    <div class="textsoc">
      <a href="#">
        <img src="./img/icones/001-instagram.svg" alt="logo instagram"/>
      </a>
      <p>
        @AnotherAnimes
      </p>
    </div>
    <div class="textsoc">
      <a href="#">
        <img src="./img/icones/002-twitter.svg" alt="logo twitter"/>
      </a>
      <p>
        @AnotherAnimes
      </p>
    </div>
  </div>
</div>
