<div class="content-footer" id="footer">

  <div class="redes_footer">
    <div class="redes_div"> 
      <a href="/"><img src="/img/logo_footer.png" alt="Logo no rodapé"></a>
      <div>
        <a href="#"><img src="/img/redes_sociais/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="/img/redes_sociais/x.png" alt="X ( Twitter)"></a>
        <a href="#"><img src="/img/redes_sociais/instagram.png" alt="Instagram"></a>
      </div>
    </div>
  </div>

  <div class="rodape_txt">
    <h5>© 2020 / AnotherAnimes<br />
      Nunca mais perca em qual episódio parou.
    </h5>
  </div>



</div>