{{!-- Mensagem de sucesso --}}

{{#if success_mgs}}

<div><p>{{success_mgs}}</p></div>



{{/if}}

{{!-- Mensagem de erro --}}
{{#if error_mgs}}

<div class="alert alert-danger">
  {{error_mgs}}
</div>

{{/if}}





{{#if modal_mgs}}

<div class="mdh003_modal_ds">
  <div class="mdh003_bfmodal_container" id="mdh003_modal">
    <div>
      <div><button class="mdh003_fecharbtn" id="mdh003_close-modal">X</button></div>


    <div>
      <div>
       
        <p class="mdh003_textomodalp">{{modal_mgs}}</p>
        <hr class="mdh003_hr"">
        <p class="mdh003_textomodalp">Que tal salvar seu episodio que parou? </p>

    </div>
  </div>
</div>


{{/if}}


