{{!-- Mensagem de sucesso --}}

{{#if success_mgs}}

<div class="alert alert-success">
  {{success_mgs}}
</div>

{{/if}}

{{!-- Mensagem de erro --}}
{{#if error_mgs}}

<div class="alert alert-danger">
  {{error_mgs}}
</div>

{{/if}}
