<header id="header">
  <div class="menu">
    <nav>
      <a class="logo" href="/">
        <img class="logo_geral" src="/img/logo.png" alt="logo" />
      </a>
      <div class="menu-link">
        <div class="links">
          <a href="/contato/contato">
            Contato
          </a>

          <a href="/sobre">
            Sobre
          </a>

          {{#if user}}
            <a href="/salvo/salvos">
              Salvos
            </a>
          {{else}}

          {{/if}}
        </div>
        <div class="btns_lg">
          {{#if user}}
            <a type="button" class="btn btn_login" href="/usuario/logout">
              Sair
            </a>
          {{else}}
            <div class="user_navbar" onclick="escondeDropdown()">
              <span>
                <i class='bx bxs-user' style='color:#3623ad; font-size: 20px'></i>
              </span>
              <div class="dropdown_navbar">
                <a type="button" class="btn btn_login" href="/usuario/login">Entrar</a>
                <a type="button" class="btn btn_criar" href="/usuario/registro">Criar conta</a>
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </nav>
  </div>

  <div class="menu_mobile">
    <div>
      <nav class="nav_header_mobile">
        <a class="logo" href="/">
          <img class="logo_footer" src="/img/logo.png" alt="logo" />
        </a>

        <div class="btns_lg">
          {{#if user}}
            <a type="button" class="btn btn_login" href="/usuario/logout">
              Sair
            </a>
          {{else}}
            <a type="button" class="btn btn_criar" href="/usuario/registro">
              Criar
            conta
            </a>

            <a type="button" class="btn btn_login" href="/usuario/login">
              Entrar
            </a>
          {{/if}}
        </div>
        </div>
      </nav>

      <nav class="nav_links_mobile">
        <a href="/contato/contato">
          Contato
        </a>

        <a href="/sobre">
          Sobre
        </a>

        {{#if user}}
          <a href="/salvo/salvos">
            Salvos
          </a>
        {{else}}

        {{/if}}
      </nav>
      <hr>
    </div>
    
  </div>
</header>
