<header id="header">
  <nav>
    <a class="logo" href="/"><img class="logo_geral" src="/img/logo.png" alt="logo" /></a>

    <div class="menu-link">
      <ul class="links">
        <li>
          <a href="/contato/contato">Contato</a>
        </li>
        <li>
          <a href="/sobre">Sobre</a>
        </li>
        {{#if user}}
        <li>
          <a href="/salvo/salvos">Salvos</a>
        </li>
        {{else}}

        <li style="display: none">
          <a href="/salvo/salvos">Salvos</a>
        </li>

        {{/if}}

      </ul>
      <div class="btns_lg">
        {{#if user}}

        <a type="button" class="btn btn_login" href="/usuario/logout">Sair</a>
        {{else}}

        <a type="button" class="btn btn_login" href="/usuario/login">Entrar</a>

        <a type="button" class="btn btn_criar" href="/usuario/registro">Criar
          conta</a>

        {{/if}}
      </div>
    </div>
  </nav>

</header>