<div class="container-home">

  <div>
    <h3>Acompanhe os animes que você adora</h3>
  </div>
  <div>
    <div>
      <img src="/public/img/imagens/home.jpg">
    </div>

    <div>
      <div>
        <img src="" alt="">
        <p>Nunca perca onde parou</p>
      </div>
      <div>
        <img src="" alt="">
        <p>Adicione seu favoritos</p>
      </div>
      
    </div>
  </div>

</div>