<div class="container-home">
  <div>
    <div>
      <p class="titulo_home">
        Salve seus animes, jogos e <br>organize seus mangás!</p>
      <p class="login_2">Para salvar seus favoritos <a href="/usuario/registro">crie uma conta</a> ou <a
          href="/usuario/login">entre agora</a>. </p>
      <button id="scroll_btn">
        <img src="/img/icones/seta_pra_baixo.png" alt="icone seta para baixo" />
      </button>
    </div>
  </div>

  <div class="card_home">
    <div>
      <img class="img_card_home" src="/img/imagens/home_banner.png" alt="banner home" />
    </div>

    <div class="card_icons">
      <div>
        <i class='icons_bg bx bx-play'></i>
        <p>
          Nunca mais perca em qual episódio parou!
        </p>
      </div>


      <div>
        <i class='icons_bg bx bx-heart'></i>
        <p>
          Faça a sua lista de animes favoritos!
        </p>
      </div>


      <div>
        <i class='icons_bg bx bx-book-heart'></i>
        <p>
          Salve seus capítulos de mangás favoritos!
        </p>
      </div>

      <div><i class='icons_bg bx bx-mouse'></i>
        <p>
          Faça sua lista de jogos favoritos!
        </p>
      </div>

    </div>
  </div>


  <div>
    <p class="titulo_home">
      O que é possivel salvar no AnotherAnimes?
    </p>
    <p>Apesar do nome ser AnotherAnimes, não salvamos apenas animes! Você pode salvar seus jogos, mangás e animes
      favoritos! </p>

    <div>
      <div>
        <i class=' bx bx-play'></i>
        <strong>Salve seus animes</strong>
        O que pode ser salvo?
        <p>Episódios assistidos, animes favoritos, animes que deseja assistir, animes que já assistiu e muito mais!</p>
      </div>

      <div></div>

      <div></div>
    </div>
  </div>

</div>