<div class="content-home">
<div class="banner text-center text-light">
  <h1 class="txt-light font-weight-bold"><strong>Já pensou em um lugar para salvar seus
      episódios?</strong></h1>
  <p style="padding:34px"><strong>Crie sua conta agora e aproveite!</strong></p>
  <a href="" style="border-radius: 22px;  font-family: 'Staatliches', cursive;" type="button"
    class="btn btn-danger text-light">Comece agora</a>
</div>

<h1 class="rectitle font-weight-bold text-center"><strong>RECURSOS</strong></h1>
 
<div class="recurso container">
  <div class="card" style="width: 18rem;">
    <img class="cardimg text-center" src="./img/icones/save.svg" alt="salve seus episódios" />
    <div class="card-body text-center">
      <h5 class="card-title font-weight-bold title"><strong>Nunca mais perca onde parou</strong></h5>
      <p class="card-text">Salve seus episódios e a temporada de onde você
        parou, só basta você clicar em adicionar, e adicione a temporada e o
        episódio que você deseja.</p>
    </div>
  </div>



  <div class="card" style="width: 18rem;">
    <img class="cardimg text-center" src="./img/icones/livre.svg" alt="salve seus episódios" />
    <div class="card-body text-center">
      <h5 class="card-title font-weight-bold title"><strong>Crie uma conta gratuita</strong></h5>
      <br>
      <p class="card-text">É totalmente de grátis e sem taxas, nossos recursos
        são totalmente grátis, só criar sua conta e aproveitar..</p>
    </div>
  </div>
</div>
</div>