<div class="container-home">
  <div>
    <div>
      <p class="titulo_home">
        Salve seus animes, jogos e <br>organize seus mangás!</p>
      <p class="login_2">Para salvar seus favoritos <a href="/usuario/registro">crie uma conta</a> ou <a
          href="/usuario/login">entre agora</a>. </p>
      <button id="scroll_btn">
        <img src="/img/icones/seta_pra_baixo.png" alt="icone seta para baixo" />
      </button>
    </div>
  </div>

  <div class="card_home">
    <div>
      <img class="img_card_home" src="/img/imagens/home_banner.png" alt="banner home" />
    </div>

    <div class="card_icons">
      <div>
        <i class='icons_bg bx bx-play'></i>
        <p>
          Nunca mais perca em qual episódio parou!
        </p>
      </div>


      <div>
        <i class='icons_bg bx bx-heart'></i>
        <p>
          Faça a sua lista de animes favoritos!
        </p>
      </div>


      <div>
        <i class='icons_bg bx bx-book-heart'></i>
        <p>
          Salve seus capítulos de mangás favoritos!
        </p>
      </div>

      <div><i class='icons_bg bx bx-mouse'></i>
        <p>
          Faça sua lista de jogos favoritos!
        </p>
      </div>

    </div>
  </div>


  <div class="card_home_1">
    <p class="titulo_home_2">O que é possivel salvar no AnotherAnimes?</p>

    <p>Apesar do nome ser AnotherAnimes! <br>Você pode salvar seus jogos, mangás e animes
      favoritos! </p>

    <div class="card_icons_1">
      <div class="content_card_icons">
        <div class="bg_card">
          <i class='icons_card bx bx-play'></i>
          <strong>Que episódio eu estava daquele anime? </strong>

          <p>Salve em qual episódio, temporada parou aquele anime que tanto gosta.</p>
        </div>
      </div>


      <div class="content_card_icons">
        <div>
          <i class='icons_card bx bx-book-heart'></i>
          <strong>Perde o capitulo do mangá, nunca mas!</strong>


          <p>Você pode salvar os capítulos que já leu, os que deseja ler!</p>
        </div>
      </div>

      <div class="content_card_icons">
        <div>
          <i class='icons_card bx bx-mouse'></i>
          <strong>Quais games eu joguei? Onde parei?</strong>

          <p>Salve em qual fase parou no game ou faça sua lista de games zerados.</p>
        </div>
      </div>
    </div>
  </div>

</div>