 <div class="bannersobre">
      <br><br>
        </div>
        <div class="text_1">
            <h2><strong>COMO SURGIU A ANOTHERANIMES?</strong></h2>
            <p>AnotherAnimes pensou na necessidade de alguns usuários que geralmente enfrentam
                quando assistem em diversos lugares suas séries, animes e etc, sendo assim acaba
                perdendo em qual parte parou, nós oferecemos a opção pra você sempre manter seus
                episódios em dia.</p>
        </div>
        <div class="text_2">
            <h2><strong>QUANDO SURGIU?</strong></h2>
            <p>No meio do ano de 2020, com todos esse caos de ficarmos em casa devido a
                pandemia surgiu a ideia de nosso projeto.
                Quem adora ver animes e séries sabe como é complicado quando se assiste em
                vários lugares manter um controle de quais episódios foram vistos, com isso surgiu a
                ideia e por que não ter um lugar pra isso? E assim surgiu nosso site e aplicativo.
            </p>
        </div>

