<div class="mdh003_modal_ds">
  <div class="mdh003_bfmodal_container" id="mdh003_modal">
    <div>
      <div><button class="mdh003_fecharbtn" id="mdh003_close-modal">X</button></div>

      <div><img alt="arara azul" class="mdh003_modalimg"
          src="https://smiles-mkt.s3.amazonaws.com/imgs_teste_modal/imgteste.jpg" /></div>
    </div>

    <div>
      <div>
        <h4 class="mdh003_textomodalh4"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.</strong></h4>

        <p class="mdh003_textomodalp">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
          a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>

        <div class="mdh003_divsbtns"><a class="mdh003_btnlaranja">Black Friday</a> <a class="mdh003_btnnao"
            id="mdh003_close-modal">Não, muito obrigado</a></div>
      </div>
    </div>
  </div>
</div>