.container_cadastro{
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
label{
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
}

legend{
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

input{
  width: 450px;
  height: 45px;
  border: none;
  border-radius: 20px;
  margin: 10px auto;
}
input[type="text"], input[type="email"], input[type="password"]{
  padding-left: 20px;
}


.btn_cadastrar_user_div{
  margin: 16px auto;
}
.btn_cadastro_user{
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  float: inline-end;
  width: 200px;
  height: 50px;
  font-size: 15px;
  border-radius: 25px;
  margin: 0;
}

@media(max-width: 500px) {
  .btn_cadastro_user > form {
    margin: 70px 0 0 0;
    
  }
  input, textarea, legend{
    width: 440px;
  }
}


