* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}


.btn {
  font-family: "Poppins", sans-serif !important;
  Display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: 137px;
  height: 44px;
  border-radius: 22px;
  color: #fff;
}



