h2,
.container-home p {
  color: #000;
}

.container-home {
  background-color: #fff;
  text-align: center;
}

button {
  background: none;
  border: none;
}

.login_2 {
  font-size: 20px;
  color: #000;
  margin: -57px 0 66px 0;
}

.login_2 a {
  text-decoration: underline;
  color: #000;
}

.login_2 a:hover {
  color: #3623AD;
  font-weight: bold;
}

.titulo_home {
  padding: 93px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.card_home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 180px;
}

.img_card_home {
  width: 393px;
}

.card_home p {
  padding: 17px;
}

.card_icons {
  display: flex;
  flex-direction: column;
}

.card_icons div {
  display: flex;
  align-items: center;
  padding: 12px;
}


@media (max-width: 800px) {
  .login_2 {
    margin: -57px 50px 66px 40px;
  }

  .card_home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 60px 0 0 0;

  }

  .img_card_home {
    width: 340px;
  }
}