/* CSS Navbar e Footer */
header {
  background-color: #000;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;

}

.menu_mobile {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  width: 1279px;
}

nav ul li a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.logo {
  margin-left: 20px;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-link a {
  font-weight: bold;
}

.links a {
  margin: 0 15px 0 0;
}


.btns_lg {
  display: flex;
}

.btn_login {
  background-color: #3623AD;
  margin: 0 20px 0 15px;
  text-decoration: none;
}

.btn_criar {
  border-color: #3623AD;
  border-style: solid;
  border-width: 1px;
}

.btn_login:hover {
  background-color: #FFF;
  color: #3623AD;
}

.btn_criar:hover {
  background-color: #FFF;
  color: #3623AD;
}

/* FOOTER */

.content-footer {
  background: #000;
  text-align: center;
  color: #fff;
  position: relative;
  top: 452px;

}

.redes_div {
  height: 168px;
  margin: -1px auto;
}

.icones_redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px;
}

.redes_div p {
  margin: -17px auto;
}

.rodape_txt {
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Css responsive */



@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .menu_mobile {
    display: block;

  }

  .nav_header_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .nav_header_mobile a {
    width: 103px;
    height: 40px;
    margin: 0 18px 0 0;
  }

  .nav_links_mobile {
    display: flex;
    justify-content: space-around;
    background-color: #111111;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 70px;

  }

}