/* CSS Navbar e Footer */
header {
  background-color: #000;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;

}

.menu_mobile {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  width: 100%;    
  margin: 0 76px;
}

nav ul li a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.logo {
  margin-left: 20px;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-link a {
  font-weight: bold;
}

.links a {
  margin: 0 15px 0 0;
}


.btns_lg {
  display: flex;
}

.btn_login {
  background-color: #3623AD;
  margin: 0 20px 0 15px;
  text-decoration: none;
}

.btn_criar {
  border-color: #3623AD;
  border-style: solid;
  border-width: 1px;
}

.btn_login:hover {
  background-color: #FFF;
  color: #3623AD;
}

.btn_criar:hover {
  background-color: #FFF;
  color: #3623AD;
}
