label {
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
}

legend {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.container_cadastro_eps >form > input {
  width: 450px;
  height: 45px;
  border: none;
  border-radius: 20px;
  margin: 10px auto;
}

input[type="text"],
input[type="number"] {
  padding-left: 20px;
}

input[type="file"] {
  display: none;
}
input[type="tst"]{
  display: none;
}

.container_cadastro_eps {
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.temp_ep{
  display: flex;
  align-items: center;
}

.temp_ep>input{
  width: 100px;
  margin-left: 10px;
}
.upload_img_div {
  display: flex;
  align-items: center;
}
.btn_cadastrar_eps_div{
  margin: 35px auto;
}

.upload_img {
  width: 250px;
  height: 60px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.label_text_upload{
  font-size: 18px;
}

.btn_cadastro_ep {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  float: inline-end;
  width: 200px;
  height: 50px;
  font-size: 15px;
  border-radius: 25px;
  margin: 0;
}

/* Exibição dos cards salvos */

.container_salvos{
  background-color: #000
}

.card_salvo{
  width: 320px;
  height: 450px;
  border-radius: 25px;
  border: 1px solid #fff;
  border-top: none;
}

.card_img img{
  width: 320px;
  height: 200px;
  border-radius: 25px 25px 0 0;
}

.card_conteudo{
  font-size: 16px;
  line-height: 2.5;
  margin: 0 0 0 16px;
}

.btn_edit_salvo{
  background-color: #3623ad;
  color: #fff;
  width: 120px;
  height: 50px;
  border-radius: 25px;
}

.btn_delete_salvo{
  background-color: #a11f1f;
  color: #fff;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
}

.btn_delete_salvo:hover{
  background-color: #ff0000;
  cursor: pointer;
}
.btn_edit_salvo:hover{
  background-color: #4d3b9f;
  cursor: pointer;
}

.btn_edits{
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}

.btn_edits button{
  font-size: 16px;
}


@media(max-width: 500px) {
  .btn_cadastrar_eps_div>form {
    margin: 70px 0 0 0;

  }

  input,
  textarea,
  legend {
    width: 440px;
  }
}