
  <div class="bannerlogin">
    <img src="/img/login-bg.jpg" alt="banner" />
  </div>
  <div class="titulo">
    <h1>Faça login</h1>
  </div>
  <div class="formulario">
    <form action="/usuario/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          class="form-control form-login"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="E-mail"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control form-login"
          id="exampleInputPassword1"
          placeholder="Senha"
          name="senha"
          required
        />
      </div>
      <button
        class="btn btnlogin"
      >Entrar</button>
    </form>
  </div>

